html {
    height: 100%;
}

body {
    background-color: #4C7907;
    height: 100%;
}
.container-fluid {
    background-color: #4C7907;
    position: relative;
    height: 100%;
}

.quote-box {
    background-color: #D4FB97;
    position: absolute;
    width: 400px;
    height: 240px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    position: relative;
    top: 30px;
    color: #D4FB97;
    text-align: center;
    font-size: 12px;
}

.footer__i {
    color: #311007;
}

.footer__a {
    text-decoration: none;
    color: #311007;
}

.footer__a:hover {
    color: #D4FB97;
    text-decoration: none;
}

.quote {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    height: 100px;
}

.author {
    margin-right: 20px;
    height: 30px;
}

.author__col {
    text-align: right;
    font-weight: bold;
}

.quote__col {
    font-size: 25px;    
}

.quote__span {
    font-size: 18px;
    font-weight: bold;
}

.buttons {
    margin-left: 20px;
    margin-top: 25px;
}
.btn {
    color: #D4FB97;
    background-color: #528800;
}

.btn__twitter {
    margin-left: 20px;
}